.p-tabs {
    @apply flex flex-col
}

.p-tablist {
    @apply flex relative
}

.p-tabs-scrollable > .p-tablist {
    @apply overflow-hidden
}

.p-tablist-viewport {
    @apply overflow-x-auto overflow-y-hidden overscroll-y-contain overscroll-x-auto
}

.p-tablist-viewport::-webkit-scrollbar {
    @apply hidden grow
}

.p-tablist-tab-list {
    @apply relative flex
}

.p-tablist-content {
    @apply overflow-x-auto overflow-y-hidden scroll-smooth overscroll-x-contain overscroll-y-auto flex-grow
}

.p-tablist-nav-button {
    @apply !absolute flex-shrink-0 top-0 z-20 h-full flex items-center justify-center cursor-pointer
    bg-surface-0 dark:bg-surface-900 text-surface-500 dark:text-surface-400 hover:text-surface-700 dark:hover:text-surface-0 w-10
    shadow-[0px_0px_10px_50px_rgba(255,255,255,0.6)] dark:shadow-[0px_0px_10px_50px] dark:shadow-surface-900/50
    focus-visible:z-10 focus-visible:outline focus-visible:outline-1 focus-visible:outline-offset-[-1px] focus-visible:outline-primary
    transition-colors duration-200
}

.p-tablist-prev-button {
    @apply !absolute top-0 left-0 z-20 h-full w-10 flex items-center justify-center text-surface-700 dark:text-surface-0/80 bg-surface-0 dark:bg-surface-900 outline-transparent cursor-pointer shrink-0
}

.p-tablist-next-button {
    @apply !absolute top-0 right-0 z-20 h-full w-10 flex items-center justify-center text-surface-700 dark:text-surface-0/80 bg-surface-0 dark:bg-surface-900 outline-transparent cursor-pointer shrink-0
}

.p-tablist-prev-button:dir(rtl),
.p-tablist-next-button:dir(rtl) {
    @apply rotate-180
}

.p-tab {
    @apply
    shrink-0 relative py-2 px-[1.125rem] -mb-px
    border-b rounded-t-md
    text-surface-500 dark:text-surface-400
    text-sm
    outline-transparent

        /* states */
    focus:outline-none focus:outline-offset-0 focus-visible:ring-0 ring-inset focus-visible:ring-primary-400 dark:focus-visible:ring-primary-300
    hover:text-primary-700 dark:hover:text-primary-700

        /* transition */
    transition-all duration-200

        /* misc */
    cursor-pointer select-none whitespace-nowrap
}

.p-tab.p-disabled {
    @apply cursor-default opacity-60 select-none pointer-events-none
}

.p-tab:not(.p-disabled):focus-visible {
    @apply z-10 outline outline-1 outline-offset-[-1px] outline-primary
}

.p-tab:not(.p-tab-active):not(.p-disabled):hover {
    @apply text-surface-700 dark:text-surface-0/80
    border-surface-200 dark:border-surface-700
}

.p-tab-active {
    @apply border-primary text-primary dark:text-primary dark:border-primary font-semibold border-b-4
}

.p-tabpanels {
    @apply text-surface-900 dark:text-surface-0/80
    pt-[0.875rem] outline-none
}

.p-tablist-active-bar {
    @apply z-10 block absolute -bottom-[-1px] h-[1px] bg-primary
}

.p-tablist-viewport {
    @apply [scrollbar-behavior:smooth] [scrollbar-width:none]
}
